@using startup.Models;
@model IList<Menu>
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
	<div class="pagetitle">
		<h2>Danh sach menu</h2>
	</div>
	<p>
		<a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Menu" asp-action="Create">
			<i class="bi bi-file-earmark-text me-1"></i>Thêm Menu
		</a>
	</p>
	<section class="section dashboard">
		<div class="row">
			<div class="col-12">
				<div class="card recent-sales overflow-auto">
					<div class="card-body mt-4">
						<table class="table table-borderless database">
							<thead>
								<tr>
									<th class="col-1 text-center">#</th>
									<th class="col-3 text-centre">Tiêu đề</th>
									<td class="col-2 text-center">Mức</td>
									<td class="col-2 text-center">Menu cha</td>
									<td class="col-1 text-center">Thứ tự</td>
									<td class="col-1 text-center">Ẩn/Hiện</td>
									<th class="col-2 text-center">Chức năng</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var item in Model)
								{
									<tr>
										<th class="text-center" scope="row">@item.MenuId</th>
										<td><a asp-area="Admin" asp-controller="Menu" asp-action="Details"
											asp-route-id=" @item. MenulD" class="text-primary">@item.MenuName</a></td>
										<td class="text-center">@item.Levels</td>
										<td class="text-center">@item.ParentID</td>
										<td class="text-center">@item.MenuOrder</td>
										<td class="text-center">@item.IsActive</td>
										<td class="text-center">
											<a asp-area="Admin" asp-controller="Menu" asp-action="Edit"
													asp-route-id="@item.MenuId" class="btn btn-primary btn-sm"
													title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>
											<a asp-area="Admin" asp-controller="Menu" asp-action="Delete"
													asp-route-id="@item.MenuId" class="btn btn-danger btn-sm"
													title="Xóa thông tin bài viết"><i class="bi bi-trash"></i></a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
